/* styles for desktop devices */
@media only screen and (min-width: 1440px) {
    body {
      font-size: 16px;
      width: 80%;
      margin: auto;
    }
  }
  /* styles for mobile devices */
  @media only screen and (max-width: 375px) {
    body {
      font-size: 12px;
      width: 100%;
      margin: 0;
    }
  }
  .header{
    text-align: center;
  }
  @font-face {
    font-family: Young Serif;
    src: url(https://fonts.google.com/specimen/Young+Serif);
  }
  @font-face {
    font-family: outfit;
    src: url(https://fonts.google.com/specimen/Outfit);
  }
  h1{
    font-family: Young Serif;
    font-weight: 400;
  }
  .para1{
    font-size: 16px;
  }
  .primary{
    background-color: hsl(330, 100%, 98%);
    padding: 10px;
    width: 95%;
    border-radius: 25px;
    margin-top: 30px;
  }
  .h31{
    color: hsl(332, 51%, 32%);
  }
  .Preparation,h2{
    color: hsl(14, 45%, 36%);
  }
  .Ingredients{
    color: hsl(14, 45%, 36%);
  }
  li{
    padding-bottom: 10px;
  }
  h2{
    font-family: 'outfit';
    font-weight: 700;
  }
  hr{
    color: hsl(30, 18%, 87%);
    height: 1px solid;
  }
  .instructions{
    color: hsl(30, 10%, 34%);
    font-size: large;
  }
  .para3{
    text-align: left;
    display: inline;
  }
  .h32{
    display: inline;
    text-align: center;
    padding-left: 25%;
    color: hsl(14, 45%, 36%);
  }
  .h33{
    display: inline;
    text-align: center;
    padding-left: 27%;
    margin-bottom: 10px;
    color: hsl(14, 45%, 36%);
  }
  .h34{
    display: inline;
    text-align: center;
    padding-left: 26%;
    margin-bottom: 10px;
    color: hsl(14, 45%, 36%);
  }
  .h35{
    display: inline;
    text-align: center;
    padding-left: 28%;
    margin-bottom: 10px;
    border-bottom: 20px;
    color: hsl(14, 45%, 36%);
  }
